body
{
    /* background-color: aqua; */
    background-image: url("Yoink/Ax.jfif");
    background-position: center;
}

#BOII
{
    background-color: aqua;
}

/* Add a black background color to the top navigation */
.topnav {
    position: center;
    background-color: aqua;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: #ff0004;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #000000;
    color: #ff0004;
}
html {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

p {

}
#Money
{
    background-image: url("Yoink/Spaghet.png");
}
#Ayy
{
    background-color: aqua;
}
#AyyP2
{
    background-color: aqua;
}
#AyyP3
{
    background-color: aqua;
}
